/*MAINCONTENT*/
.mainContent {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 28px; }

/*MAINCONTENT LEFT UP*/
.mainContent-image {
  position: relative; }

.mainContent-fatherLeft {
  width: 64.28%;
  margin-right: 0;
  padding-right: 0;
  float: left; }
  .mainContent-fatherLeft div.image img {
    width: 97.5%;
    border: 8px solid #ffffff; }
  .mainContent-fatherLeft div.social-media {
    position: absolute;
    bottom: 18px;
    left: 50px;
    margin-top: 8px; }

div.mainContent-text {
  background-color: #ffffff;
  margin-top: 8px;
  margin-bottom: 32px;
  padding-top: 32px;
  padding-left: 38px;
  padding-right: 72px;
  padding-bottom: 40px;
  position: relative; }
  div.mainContent-text .text-arrow {
    width: 1px;
    color: transparent;
    border-bottom: 15px solid #ffffff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    left: 55px;
    top: -30px; }
  div.mainContent-text h2 {
    margin-bottom: 12px; }
  div.mainContent-text p {
    line-height: 1.4rem; }

/*MAINCONTEN LEFT DOWN*/
.mainContent-fatherDown {
  margin: 0 auto; }
  .mainContent-fatherDown .mainContent-down-left {
    width: 44.5%;
    float: left;
    margin-left: 10px; }
    .mainContent-fatherDown .mainContent-down-left img {
      width: 94%;
      border: 8px solid #ffffff; }
  .mainContent-fatherDown .mainContent-down-right {
    width: 44.5%;
    float: right;
    margin-right: 10px; }
    .mainContent-fatherDown .mainContent-down-right img {
      width: 94%;
      border: 8px solid #ffffff; }
  .mainContent-fatherDown .mainContent-down-text {
    margin-top: 8px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 45px;
    background-color: #ffffff;
    position: relative; }
    .mainContent-fatherDown .mainContent-down-text .text-arrow {
      width: 1px;
      color: transparent;
      border-bottom: 15px solid #ffffff;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      position: absolute;
      top: -30px;
      left: 60px; }

/*MAINCONTENT RIGHT*/
.mainContent-fatherRight {
  max-width: 298px;
  float: right;
  margin-top: 0px;
  margin-left: 23px; }

.mainContent-data {
  background-color: #ffffff;
  padding-top: 25px;
  padding-left: 33px;
  padding-right: 27px; }
  .mainContent-data p {
    line-height: 20px; }
  .mainContent-data h3 {
    margin-bottom: 30px; }
  .mainContent-data .information-tags {
    padding-bottom: 50px; }
  .mainContent-data a {
    color: black;
    background-color: #e2e2e2;
    padding: 10px 11px; }
